import { useSyncState } from '@atomic-reactor/reactium-core/sdk';
import React from 'react';

/**
 * -----------------------------------------------------------------------------
 * Component: {{name}}
 * -----------------------------------------------------------------------------
 */
export const {{name}} = ({ className }) => {
    const state = useSyncState({ content: '{{name}}' });
    
    return <div className={className}>{state.get('content')}</div>;
};

{{name}}.defaultProps = {
    className: '{{className}}'
}; 

export default {{name}};
